.text01{
  background: #fff;
  width: 49%;
  padding: 8px;
  float: left;
  font-size: 16px;
}

.btn-green{
  padding: 5px;
  border-radius: 5px;
  color: #298e34;
  font-weight: bold;
}

.text-title{
  font-size: 18px;
  color: #ca6c0a;
  font-weight: bold;
}
